# Общие настройки
DEBUG=False
BOT_TOKEN=your_bot_token_here
BOT_PORT=8001
BOT_HOST=0.0.0.0
BOT_SECRET=somesecret
WEBHOOK_URL=someurl

# Настройки мини-приложения
MINIAPP_HOST=localhost
MINIAPP_PORT=3000
MINIAPP_SECURE=False

# Настройки API
API_HOST=localhost
API_PORT=8000
API_SECURE=False

# Настройки веб-интерфейса
WEB_HOST=localhost
WEB_PORT=8080
WEB_SECURE=False
